/* bussinga! */

background {
    background-color: #1c1c25;
    color: #ffffff;
    direction: column;
    align-items: fill;
    /* only for bussinga napture already does this by default (dont ask me why)*/
    width: 100%;
    height: 100%;
}
a {
    color: #aa00aa;
    font-size: 9px;
}
p {
    font-size: 9px;
}
